html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.postPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding-top: 70px;
}

.postWrapper {
  width: 50%;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commentSection {
  width: 50%;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.commentTitle {
  font-size: 20px;
  font-weight: bold;
  color: #6a0dad;
  margin-bottom: 10px;
}

.commentList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 5px;
}

.comment {
  background: #fafafa;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-left: 4px solid #545454;
}

.commentUser {
  font-weight: 600;
  color: #000000;
  font-size: 14px;
}

.noComments {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.commentInput {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: border 0.3s;
  margin-top: 20px;
}

.commentInput:focus {
  border: 1px solid #000000;
}

.commentButton {
  margin-top: 12px;
  padding: 10px 18px;
  border: none;
  background-color: #6a0dad;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s;
}

.commentButton:hover {
  background-color: #5a0ca5;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin: 25px auto 10px auto;
  align-items: center;
}

.editButton,
.deleteButton {
  background-color: #1f1f1f;
  color: #ffffff;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
}

.editButton i,
.deleteButton i {
  font-size: 18px;
  color: #ffffff;
}

.editButton:hover,
.deleteButton:hover {
  background-color: #626262;
  color: rgb(255, 255, 255);
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  padding-left: 0px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  color: #333;
  background-color: #fff;
  outline: none;
}

.input:focus,
.textarea:focus {
  border: 1px solid #000000;
}

.textarea {
  min-height: 120px;
  resize: vertical;
}

.editButtons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.postPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding-top: 70px;
}

.postWrapper {
  width: 50%;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commentSection {
  width: 50%;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.commentTitle {
  font-size: 20px;
  font-weight: bold;
  color: #6a0dad;
  margin-bottom: 10px;
}

.commentList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 5px;
}

.comment {
  background: #fafafa;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  font-size: 14px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 3px;
  border-left: 4px solid #545454;
}

.commentUser {
  font-weight: 600;
  color: #000000;
  font-size: 14px;
}

.noComments {
  font-size: 14px;
  color: #888;
  margin-bottom: 10px;
}

.commentInput {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: border 0.3s;
  margin-top: 20px;
}

.commentInput:focus {
  border: 1px solid #000000;
}

.commentButton {
  margin-top: 12px;
  padding: 10px 18px;
  border: none;
  background-color: #6a0dad;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.3s;
}

.commentButton:hover {
  background-color: #5a0ca5;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin: 25px auto 10px auto;
  align-items: center;
}

.buttonContainer.hidden {
  display: none;
}

.editButton,
.deleteButton {
  background-color: #1f1f1f;
  color: #ffffff;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
}

.editButton i,
.deleteButton i {
  font-size: 18px;
  color: #ffffff;
}

.editButton:hover,
.deleteButton:hover {
  background-color: #626262;
  color: rgb(255, 255, 255);
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  padding-left: 0px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
  color: #333;
  background-color: #fff;
  outline: none;
}

.input:focus,
.textarea:focus {
  border: 1px solid #000000;
}

.textarea {
  min-height: 120px;
  resize: vertical;
}

.editButtons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.buttonContainer.hidden {
  visibility: hidden;
}

.uploadButton {
  color: #000 !important;
  border: 1px solid #000 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  padding: 10px 20px !important;
  border-radius: 6px !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
}

.uploadButton:hover {
  background-color: #000 !important;
  color: #fff !important;
}

.imageName {
  color: #4a4a4a;
  font-weight: bold;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
